*/**/*.xcodeproj/xcuserdata/pablo.manuelli.xcuserdatad
*/**/*.xcodeproj/project.xcworkspace/xcuserdata/pablo.manuelli.xcuserdatad
*/**/*.xcworkspace
*/**/*.xcodeproj/project.xcworkspace/xcshareddata
*/**/*.xcworkspacedata
